.bg-finn-and-jake {
  text-align: center;
  background-color: #ffe06c;
  background-attachment: scroll;
  background-image: url(../img/portfolio/finn-and-jake-background.png);
  background-position: top;
  background-repeat: no-repeat;
}
